.dialogContainer {
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.dialog {
  width: 90%;
  max-width: 400px;
  border: 5px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  box-sizing: border-box;

  border-radius: 3px;
}

.dialog h2 {
  margin-bottom: 10px;
}

.dialog__close {
  display: block;
  font-weight: 500;
  width: fit-content;
  padding: 6px 20px 7px 20px;

  margin-left: auto;
  margin-top: 20px;
  border-radius: 3px;
  background: rgb(153, 174, 243);
  color: rgb(12, 95, 19);
}

.dialog__close:hover {
  color: hsl(0, 5%, 13%);
  background: rgb(140, 164, 240);
  color: rgb(24, 120, 32);
  cursor: pointer;
}

.dialog__label {
  font-size: 1.5em;
  color: #2a498b;
  margin-bottom: 5px;
}
