.footer-container {
  display: flex;
  width: 100vw;
  height: 20vh;
}
.microphone-footer-container {
  text-align: left;
  height: 18vh;
  background-color: #ffffff81;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 0 5vw 0 5vw;
  height: fit-content;
}
.footer-header {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 5.5vw;
  font-size: 2.5em;
  color: #2a498b;
}
.microphone-footer-text {
  margin: 20px 60px;
  font-size: 2em;
}

@media screen and (max-width: 5000px) {
  li {
    font-size: 1em;
  }
}

@media (max-width: 800px) {
  li {
    font-size: 0.8em;
  }
}
@media (max-width: 600px) {
  li {
    font-size: 0.7em;
  }
}
@media (max-width: 540px) {
  li {
    font-size: 0.5em;
  }
}
@media (max-width: 430px) {
  li {
    font-size: 0.4em;
  }
}

@media (max-width: 800px) {
  .footer-header {
    font-size: 2em;
  }
}
