.header-container {
  display: flex;
  color: bisque;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  font-family: "Nerko One", cursive;
}

@media screen and (max-width: 5000px) {
  h1 {
    font-size: 10em;
  }
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 8em;
  }
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 5em;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 3em;
  }
}
