.header-container {
  display: flex;
  color: bisque;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  font-family: "Nerko One", cursive;
}

h1 {
  font-size: 10em;
}
