@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nerko One", cursive;
}
body {
  background-color: rgba(0, 0, 0, 0.8);
  color: bisque;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.mircophone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
}
.microphone-icon-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(128deg, #cce9b3, #46bd1b);
  padding: 20px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.microphone-icon-container.listening {
  background-image: linear-gradient(128deg, #fbc9c5, #e14110);
}
.microphone-icon-container.listening::before {
  content: "";
  width: 100px;
  height: 100px;
  background-color: #ffffff81;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  border-radius: 50%;
  animation: listening infinite 1.5s;
}
@keyframes listening {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }
}
.microphone-icon {
  width: 100%;
  height: 100%;
}
.microphone-status {
  display: flex;
  font-size: 2em;
  color: #46bd1b;
  margin-right: 20px;
  min-width: 215px;
}
.microphone-status.listening {
  color: #e14110;
}
.btn {
  border: none;
  padding: 10px 30px;
  margin-right: 10px;
  outline: none;

  font-size: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px #ffffff1a;
}
.microphone-result-container {
  text-align: center;
  height: 40vh;
  background-color: #ffffff81;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  margin: 0 5vw 5vw 5vw;
}
.microphone-transcript {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 6vw;
  font-size: 2em;
  color: #848383;
}

.microphone-result-text {
  margin-top: 30px;
  font-family: "Source Code Pro", monospace;
  font-size: 1.5em;
}
.microphone-reset {
  border: 2px solid rgb(72, 74, 72);
  background: rgb(217, 209, 209);
  color: rgb(12, 95, 19);
  width: fit-content;
}
.microphone-reset:hover {
  border: 2px solid rgb(72, 74, 72);
  background: rgb(198, 195, 195);
  color: rgb(24, 120, 32);
  cursor: pointer;
}
.microphone-save {
  border: 2px solid rgb(72, 74, 72);
  background: rgb(217, 209, 209);
  color: rgb(12, 95, 19);
  width: fit-content;
}
.microphone-save:hover {
  border: 2px solid rgb(72, 74, 72);
  background: rgb(198, 195, 195);
  color: rgb(24, 120, 32);
  cursor: pointer;
}

.microphone-reset.disabled {
  border: 1px solid rgb(217, 209, 209);
  color: rgb(54, 57, 54);
  cursor: none;
}

.microphone-save.disabled {
  border: 1px solid rgb(217, 209, 209);
  color: rgb(54, 57, 54);
}
